@import "vars"

/*==========	Desktop First	==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	/**/

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
	/**/

/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	.mobile-hide
		display: none

	.burger-menu
		display: inline-block

	.title
		font-size: em(36px)
		line-height: 1.2
		text-align: center

	.main-btn
		padding: em(8px) em(21px)
		text-align: center
		display: block

	.section-title
		text-align: center
		font-size: em(42px)
		margin-bottom: em(12px)

	.text
		margin-bottom: em(15px)

	.header
		display: none
		&--mobile
			display: block
			padding: 20px 0
			background-color: $lblue
			>div
				grid-template-columns: max-content 1fr max-content
				align-items: center
		&__logo-box
			margin-right: 20px
			display: inline-block

	.mobile-menu__text
		margin: 0 0 em(4px)

	.autorize
		&__url
			font-size: em(20px)
			margin: 0	em(10px) 0 0

	.autorized
		margin: auto

	.main-banner
		background: url(../img/banner-bg-mobile.png) no-repeat
		background-size: contain
		>div
			padding: 320px 10px 50px
		&__title
			margin: 0 0 em(5px)
		&__text
			text-align: center
			font-size: em(24px)
			margin: 0 0 em(23px)
		&__btn,
			margin: 0 auto 10px
			display: block
			width: 250px
			&:last-of-type
				margin: auto

	.short-banner
		>div
			padding: 0 20px 50px
		&__title
			font-size: em(42px)
			margin: 0 0 em(13px)
		&__cards
			grid-template-columns: 1fr
			grid-gap: 30px
			justify-items: center
		&--about
			>div
				padding-top: 50px

	.section-about
		padding: 40px 0 50px
		>div
			grid-template-columns: 1fr
			grid-gap: 30px
		&__title
		&__right-side
			grid-row: 1
		&__img-box
			width: 100%
			height: 355px

	.services
		padding: 50px 0
		&__items
			display: block
			margin: 0 -15px
		&__img-box, &__img
			width: 100%

		&__box
			margin: 0 20px
			&:first-of-type
				// margin: 0 0 0 10px

	.find
		padding: 40px 0 50px
		>div
			padding: 0 20px
			grid-template-columns: 1fr
			grid-gap: 30px
		&__title
			grid-column: 1/2
			margin: 0
		&__box-column-title
			display: inline-block
		&__box-title
			text-align: center
			font-size: em(20px)
			line-height: 1.4
		&__title-img
			margin: 0 auto 7px
		&__item
			&:last-child
				margin: 0

	.reviews
		padding: 50px 0 0

	.reviews-slider
		&__slide
			margin: 0 20px
			padding: 30px
		&__text-block
			grid-column: 1/3
		&__img-box
			margin: 0
		&__user-info
			grid-gap: 15px
		&__user-name
			font-size: em(20px)
			line-height: 1.4
			font-weight: 600
		&__date
			line-height: 1.6
		&__text
			margin: 0
		&__arrow
			width: 26px
			height: 26px
			&--prev
				left: -10px
			&--next
				right: -10px

	.slick-dots
		bottom: -35px

	.small-banner
		padding: 50px 0
		margin-bottom: 30px
		>div
			grid-template-columns: 1fr
		&__img-box
			width: 100%
			height: 343px
		&__text
			font-size: em(24px)
			line-height: 1.2
			margin: 0 0 em(22px)
			text-align: center
		&__btn, &__btn:last-child
			margin: 0 auto 10px
			width: 250px

	.footer
		padding: 0 0 30px
		>div.container
			grid-template-columns: 1fr
			text-align: center
			grid-gap: 0
		&__box
			border-bottom: 2px solid $gray
			padding: 15px 0 20px
		&__title
			margin: 0 0 em(8px)
		&__logo-box
			margin: 0 auto 10px
			width: 80px
		&__desc
			max-width: 100%
			margin: 0 0 em(11px)
		&__social-link
			width: 30px
		&__link
			margin-bottom: em(6px)
		&__line
			display: none
		&__bot
			grid-column: 1/2
			grid-template-columns: 1fr
			padding: 15px 0 0
		&__text-box
			text-align: center
			justify-self: center
			grid-row: 1
		&__social-img > path
			stroke: $blue
			&:last-child
				fill: $blue
		.footer__contacts, .footer__desc, .footer__more, .footer__seo
			padding: 0

	.arrow-on-top
		display: block
		&__img
			max-width: max-content

	.white-popup
		.mfp-close
			top: 5px
		>div
			grid-template-columns: 1fr
			padding-top: 30px
		&__box
			padding: 20px 0
			&:first-child
				border-right: none
				border-bottom: 2px solid $gray
		&__form
			width: 100%
		&__btn--reg
			margin-bottom: 20px

	.comment-popup
		padding: 30px 0
		&__title
			margin: 0 0 em(15px)
		>div
			text-align: center
		.mfp-close
			top: 30px
			right: 30px

	// specialists
	.breadcrumbs
		padding: 20px 0 10px

	.notice
		&__box
			padding: 25px 13px
		&__text
			margin: 0 0 em(16px)
			text-align: center
		&__btn
			margin: auto
			max-width: max-content
		&--specialists
			margin-bottom: 30px

	.specialists-inner
		>div
			grid-template-columns: 1fr
			padding: 0 20px
		&__aside
			display: none
		&__btn
			position: relative
			margin-bottom: 20px
			&::after
				position: absolute
				top: 50%
				right: 10px
				-webkit-transform: translate(0,-50%)
				-ms-transform: translate(0,-50%)
				transform: translate(0,-50%)
				content: ''
				background: url(../img/arrow-right-white.svg) no-repeat center center
				display: block
				height: 16px
				width: 16px
				-webkit-transition: all ease-in .3s
				-o-transition: all ease-in .3s
				transition: all ease-in .3s
			&.active
				color: $blue
				background-color: #fff
				border-bottom: 2px solid $gray
				&::after
					background: url(../img/cross-blue.svg) no-repeat center center

	.aside
		&__filter
			padding: 0 40px
			border-bottom: 2px solid $gray
			margin-bottom: 15px
		&__block
			max-width: 230px
		&.active
			display: block

	.specialists-ads
		&__sort
			grid-template-columns: 1fr
			display: none
			&.active
				display: grid

	.sort__btn
		text-align: left

	.advert
		grid-template-columns: 1fr
		padding: 20px 13px 20px 20px
		&__more-info
			grid-column: 1
			grid-template-columns: 1fr
		&__short
			width: 100%
			justify-self: auto
			&-spec
				&:last-of-type
					margin: 0
				span
					font-size: em(20px)
		&__short-reviews a
			font-size: em(18px)
		&__desc
			margin-bottom: 0
		&__more-box
			&:nth-of-type(2)
				justify-self: auto
				width: 100%
			&:first-of-type
				width: auto
		&__user-photo
			margin: auto
		&__more-url
			display: none
			&--mobile
				display: block
				margin: 0
				&::after
					transform: translate(0,-50%)
				&.active::after
					transform: translate(0,-50%)

		&__more-title
			margin-bottom: em(8px)
		&__btns
			display: none
			&--mobile
				display: block
		&__like
			display: none
			&--mobile
				display: block
			&--lk-favorites-mobile
				display: inline-block
			&--give
				display: inline-block
				float: right
				margin-right: 20px
		&__product-photo
			grid-template-columns: 1fr max-content
			width: auto
			margin: auto
		&__product-img
			height: 62px
			grid-column: 2/3
			width: 62px

			&:first-of-type
				grid-column: 1/2
				grid-row: 1/4
				width: 200px
				height: 100%

	.pagination
		&__arrow-on-top
			display: none
		&__btn-comment
			position: unset
			transform: none
			grid-row: 2
		&--reviews
			>div
				display: grid
				grid-gap: 30px
	// about

	.banner-about
		display: grid
		padding: 30px 0
		background: linear-gradient(#fff,#f3faff,#f3faff)
		>div
			text-align: center
		&__title
			font-size: em(36px)
			margin-bottom: em(8px)
		&__text
			font-size: em(24px)
		&__img
			position: unset
			grid-row: 1
			transform: none
			top: auto
			left: auto
			margin: 0 auto 35px
			padding: 0 20px
			object-fit: cover
		&__btn
			width: 250px
			margin: 0	auto 10px

	.opportunities
		&--about
			margin-bottom: 50px
		>div
			grid-template-columns: 1fr
			grid-row-gap: 20px
		&__title
			grid-column: 1/2
			font-size: em(36px)
			margin: 0
		&__block
			padding-bottom: 5px
		&__img-box
			height: 220px

	.notice-now
		padding: 40px 0 50px
		text-align: center
		&--about
			margin-bottom: 30px
		>div
			grid-template-columns: 1fr
		&__title
			font-size: em(36px)
		&__btn
			margin: 0 auto 10px
			width: 250px
		&__img
			display: none
	.use
		&__title
			text-align: center
			font-size: em(36px)
		&__blocks
			grid-template-columns: 1fr
			grid-gap: 20px
			margin-bottom: 40px
			&:nth-child(odd)
				grid-template-columns: 1fr
		&__block
			&-title
				font-size: em(24px)
				margin: 0 0 em(8px)
			&-list
				padding-left: em(24px)
			&-item
				font-size: em(24px)
				span
					font-size: em(14px)
		&__img
			height: 270px
			width: auto
			grid-row: 1
		&--main
			margin-bottom: 40px

	//reviews

	.reviews-page
		&__title
			font-size: em(36px)
			text-align: center
			margin-bottom: em(15px)
		&__sort
			margin-bottom: 30px
			display: grid
			grid-template-columns: 1fr 1fr
			grid-gap: 10px
			&-btn
				font-size: em(15px)
				width: auto
				display: inline-block
				padding: em(4px) em(10px)
				text-align: left
				margin: 0

	.comment
		grid-template-columns: 1fr
		justify-items: center
		text-align: center
		grid-gap: 15px
		&__more
			justify-items: center
		&__user
			&-name
				font-size: em(20px)
			&-status
				margin-bottom: em(10px)
			&-img
				width: 64px
				height: 64px
		&__text
			margin: 0
		&__more
			grid-gap: 20px
		&__date
			grid-row: 2

	// contacts page
	.contacts-page
		padding-bottom: 30px
		>div
			grid-template-columns: 1fr
			grid-gap: 0
		&__title
			grid-column: 1/2
			text-align: center
			font-size: em(36px)
			margin-bottom: em(10px)
		&__form
			grid-row: 3
		&__info-box
			text-align: center
			grid-gap: 20px
			margin-bottom: 50px

	.info
		&__title
			font-size: em(24px)
			margin-bottom: em(8px)
		&__link
			margin-bottom: em(10px)

	.form
		background-color: $lblue
		border: none
		padding: 20px 0
		&__title
			margin-bottom: em(10px)
		&__fields
			grid-template-columns: 1fr
			margin: 0
		&__field
			&--area
				grid-column: 1/2
		&__input
			padding: em(13px)
		&__url
			margin: 0 0 em(26px)
		&__btn
			float: unset
			margin: auto
			padding: em(8px) em(37px)

	.form-comment
		display: grid
		grid-gap: 10px
		&__input
			width: 100%
		.rating-area
			grid-row: 3
			width: 100%
			margin-bottom: 40px
			&__text
				margin: em(4px) 0
				text-align: left
		&__btn
			grid-row: 4
		&__url
			margin: auto
			max-width: 270px

	//registry
	.registry
		margin-bottom: 30px

	.form-registry
		width: 100%
		padding: 25px 20px
		&__label
			display: block
			margin: 0 0 em(8px)
		&__url
			width: 100%
		&__btn
			padding: em(8px) em(18px)
		&__input-check
			margin-right: 10px
		&__fields
			display: block

	// lk 
	.lk-inner
		>div
			grid-template-columns: 1fr

	.aside
		&--lk
			padding-top: 20px
		&__user
			text-align: center
			&-img
				margin: 0 auto 15px
	.ads
		&--lk
			margin: 0

	.lk-ads
		padding: 20px 0 0
		&__title
			font-size: em(36px)

	.lk-data
		&__title
			text-align: left
			font-size: em(36px)
			margin-bottom: em(15px)

	.form-data
		&__fields
			grid-template-columns: 1fr
			grid-gap: 10px
			margin-bottom: 20px
		&__title
			font-size: em(24px)
		&__input
			margin: 0 0 em(10px)
		&__btn
			width: 100%

	.lk-advert
		padding: 20px 0
		&__title
			font-size: em(36px)
			margin: 0 0 em(15px)

	.form-advert
		&__fields
			grid-template-columns: 1fr
			margin-bottom: 30px
			&:last-of-type
				grid-template-columns: 1fr
		&__title
			font-size: em(24px)
		&__input
			margin: 0
		&__radio-btns input[type=radio]+label
			margin: 0
		&__btn
			padding: em(8px) 0
			text-align: center
			width: 100%
			max-width: 100%
			display: block
			margin: 0
		&__url
			max-width: 100%
		&__radio-btns--mob
			display: grid
			grid-template-columns: max-content max-content
			grid-gap: 10px
			> label.text
				grid-row: 1
				padding: 13px !important
				max-width: max-content
			input[name="bad"]
				grid-row: 1
	/**/

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	/**/

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/

/*==========	Mobile First	==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/

/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/
